<style>
   .footer-links
   {
   list-style:none;
   display:flex;
   flex-direction:column;
   align-items:center;
   background:#F7F9FC;
   display:none;
   }
   @media (max-width:1060px)
   {
   .footer-links
   {
   display:flex;
   }
   }
</style>
<div class="footer-links p-2">
   {{#if config.nav_items}}
   {{#each config.nav_items}}
   <li>
      <a class="mobile-link" href="{{this.href}}" target="{{fallback this.target "_blank"}}">
      {{this.title}}
      </a>
   </li>
   {{/each}}
   {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/gh/fcmam5/nightly.js@v1.0/dist/nightly.min.js"></script>
<script>
    
    //set colors
    
      let toggleBtn = document.querySelector('.toggle');
    let toggleIcon = document.querySelector('.toggle i');
    document.addEventListener('DOMContentLoaded',setTheme);
    
    function setTheme()
    {
        if(localStorage.getItem('theme'))
        {
            if(localStorage.getItem('theme')==='light')
            {
                document.querySelector('body').classList.remove('dark');
                
                 toggleIcon.classList.remove('fa-sun');
            toggleIcon.classList.add('fa-moon');
                
            }
            else if(localStorage.getItem('theme')==='dark')
            {
                document.querySelector('body').classList.add('dark');
                
                 toggleIcon.classList.remove('fa-moon');
            toggleIcon.classList.add('fa-sun');
            
            }
            else
            {
                document.querySelector('body').classList.remove('dark');
                
                 toggleIcon.classList.remove('fa-sun');
            toggleIcon.classList.add('fa-moon');
            }
        }
        else
        {
            localStorage.setItem('theme','light');
        }
    }
    
    
    
    //moreless js implementation
   let paraMore = document.querySelector('#more');
   let paraMoreSVG = document.querySelector('#more svg');
   let paraMoreSpan = document.querySelector('#more span');
   let showState = true;
   if(paraMore)
   {
   paraMore.addEventListener('click',more);
   }
   function more(e)
   {
       document.querySelectorAll('.article-element').forEach((ele)=>ele.classList.toggle('show'));
       showState = !showState;
       paraMoreSVG.style.transform = showState ? 'rotate(90deg)' : 'rotate(-90deg)';
       paraMoreSpan.textContent = showState ? 'See more' : 'See less';
       
   }
   
    //show right vertical lines when no.of cat is > 1
   if(window.location.href.includes('category'))
   {
       let categoryCards = document.querySelectorAll('div.subcategory-item');
       if(categoryCards.length <= 1)
       {
           let vertical = document.querySelector('span.vertical');
           if(vertical)
           {
           vertical.style.display = 'none';
           }
       }
   }
   
   //size adjeuster
   
   window.addEventListener('resize',resizer);
   
   
     let sidebr = document.querySelector('section#sidebar');
    
   function resizer()
   {
   if(window.location.href.includes('article'))
   {
        let main = document.querySelector('main');
       if(window.innerWidth<=600)
       {main.classList.add('mx-auto');} 
       if(window.innerWidth<=768)
       {
           document.querySelector('#sidebar').classList.remove('stickOnScroll');
           sidebr.classList.remove('compress');
       }
       if(window.innerWidth>768)
       {
           document.querySelector('#sidebar').classList.add('stickOnScroll');
       }
   }}
   //toc higlighter
   
   if(window.location.href.includes('article'))
   {
       let toc_main = document.querySelector('#toc-wrapper > ul');
       let toc_lists = document.querySelectorAll('#toc ul li');
       toc_lists.forEach(ele=>toc_main.appendChild(ele));
       toc_lists.forEach(ele=>{
           ele.addEventListener('click',show)
       });
   }
                      
   function show(e)
       {
           let toc_lists = document.querySelectorAll('#toc-wrapper ul li a');    
               toc_lists.forEach(ele=>{
           ele.style.color = '#61656C';
       });
   
           
           e.target.style.color='#0565FE';
       }
    
    
    //table design
    
    if(window.location.href.includes('article'))
    {
        let articleTable = document.querySelector('#article table');
        if(articleTable)
        {
            articleTable.classList.add('table');
            articleTable.classList.add('table-responsive');
        }
    }
   
   //hamburger toggler
   let ham = document.getElementById('hamburger');
   let side = document.querySelector('#sidebar');
    if(ham)
        
    {
   ham.addEventListener('click',toggle);
   
                        function toggle(e)
                        {
                           e.currentTarget.classList.toggle('open');
                            side.classList.toggle('open');
   }
    }
    let dn = document.querySelector('#download');
    if(dn)
    {
        
    dn.addEventListener('click',printFl);
    }
   function printFl()
    {
        window.print();
    }

let expd = document.querySelector('#expand');
    if(expd)
    {
    expd.addEventListener('click',articleSideAdjust);
    }
    
    function articleSideAdjust(e)
    {
        e.currentTarget.classList.toggle('more');
        sidebr.classList.toggle('compress');
        document.querySelector('#article-wrapper').classList.toggle('col-md-9');
    }
    
  
    
    if(toggleBtn)
    {
        toggleBtn.addEventListener('click',toggleMode);
    }
    function toggleMode(e)
    {
        if(document.querySelector('body').classList.contains('dark'))
        {
            localStorage.setItem('theme','light');
            document.querySelector('body').classList.remove('dark');
            toggleIcon.classList.remove('fa-sun');
            toggleIcon.classList.add('fa-moon');
            
        }
        else
        {
            localStorage.setItem('theme','dark');
            document.querySelector('body').classList.add('dark');
            toggleIcon.classList.remove('fa-moon');
            toggleIcon.classList.add('fa-sun');
        }
      
    }
    
    let formControl = document.querySelector('.form-control');
    if(formControl)
    {
        formControl.addEventListener('keypress',function(e){
            if(e.currentTarget.value)
            {
                document.querySelector('#searchresults').style.display = 'block';
            }
            else
            {
                document.querySelector('#searchresults').style.display = 'none';
            }
        });
    }
    
    
    
    
     if(window.location.href.includes('article'))
     {
    let widget_section = document.createElement('section');
    widget_section.innerHTML = `<div id="tier-widget" data-bg="" data-border="">
  <div id="tier-widget-heading">
    <p data-color="" data-size="" data-text="">Kissflow Digital Work Platform :</p>
  </div>
  <div class="widget-line" data-color=""></div>
  <ul id="tier-widget-list">
    <li id="item-1" data-color="" data-size="" data-text=""><i id="icon-1" class="fas fa-check" data-faclass=""></i>Small business</li>
    <li id="item-2" data-color="" data-size="" data-text="" ><i id="icon-2" class="fas fa-check" data-faclass=""></i>Corporate</li>
    <li id="item-3" data-color="" data-size="" data-text=""><i class="fas fa-check" id="icon-3" data-faclass=""></i>Enterprise</li>
  </ul>
</div>`
    let parentNd = document.querySelector('.art');
    let articlesibling = document.querySelector('.art p:nth-of-type(1)');
    
   parentNd.insertBefore(widget_section,articlesibling);
    
         
         
         
    let widget = document.querySelector("#tier-widget");
let widget_heading = document.querySelector("#tier-widget-heading p");
let widget_list_01 = document.querySelector("#tier-widget-list #item-1");
let widget_line = document.querySelector("#tier-line");
let widget_list_02 = document.querySelector("#tier-widget-list #item-2");
let widget_list_03 = document.querySelector("#tier-widget-list #item-3");
let icon_01 = document.querySelector("#icon-1");
let icon_02 = document.querySelector("#icon-2");
let icon_03 = document.querySelector("#icon-3");

if (widget.dataset.bg !== "") {
  widget.style.background = widget.dataset.bg;
}

if (widget.dataset.color !== "") {
  widget.style.color = widget.dataset.color;
}

if (widget.dataset.border !== "") {
  widget.style.border = widget.dataset.border;
}

if (widget_heading.dataset.color !== "") {
  widget_heading.style.color = widget_heading.dataset.color;
}

if (widget_heading.dataset.size !== "") {
  widget_heading.style.fontSize = widget_heading.dataset.size;
}

if (widget_heading.dataset.text !== "") {
  widget_heading.textContent = widget_heading.dataset.text;
}

if (widget_list_01.dataset.color !== "") {
  widget_list_01.style.color = widget_list_01.dataset.color;
}

if (widget_list_01.dataset.size !== "") {
  widget_list_01.style.fontSize = widget_list_01.dataset.size;
}

if (widget_list_01.dataset.text !== "") {
  widget_list_01.innerHTML = icon_01.outerHTML + widget_list_01.dataset.text;
}

if (widget_list_02.dataset.color !== "") {
  widget_list_02.style.color = widget_list_02.dataset.color;
}

if (widget_list_02.dataset.size !== "") {
  widget_list_02.style.fontSize = widget_list_02.dataset.size;
}

if (widget_list_02.dataset.text !== "") {
  widget_list_02.innerHTML = icon_02.outerHTML + widget_list_02.dataset.text;
}

if (widget_list_03.dataset.color !== "") {
  widget_list_03.style.color = widget_list_03.dataset.color;
}

if (widget_list_03.dataset.size !== "") {
  widget_list_03.style.fontSize = widget_list_03.dataset.size;
}

if (widget_list_03.dataset.text !== "") {
  widget_list_03.innerHTML = icon_03.outerHTML + widget_list_03.dataset.text;
}

if (icon_01.dataset.color !== "") {
  icon_01.style.color = icon_01.dataset.color;
}
if (icon_01.dataset.size !== "") {
  icon_01.style.fontSize = icon_01.dataset.size;
}
if (icon_01.dataset.faclass !== "") {
  icon_01.className = icon_01.dataset.faclass;
}

if (icon_02.dataset.color !== "") {
  icon_02.style.color = icon_02.dataset.color;
}
if (icon_02.dataset.size !== "") {
  icon_02.style.fontSize = icon_02.dataset.size;
}
if (icon_02.dataset.faclass !== "") {
  icon_02.className = icon_02.dataset.faclass;
}

if (icon_03.dataset.color !== "") {
  icon_03.style.color = icon_03.dataset.color;
}
if (icon_03.dataset.size !== "") {
  icon_03.style.fontSize = icon_03.dataset.size;
}
if (icon_03.dataset.faclass !== "") {
  icon_03.className = icon_03.dataset.faclass;
}

     }
    
</script>
